{% extends 'base.html' %}
{% load thumbnail %}


{% block body %}

  <h1 class="heading">Snug Life!</h1>
  <section>
    <div class="container post">
      <h2>{{ post.title }} <small class="date-stamp">{{ post.created }}</small></h2>
      <p>{{ post.content }}</p>
      
      {% for image in images %}
        {% thumbnail image.image "600x450" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
        <br />{{ image.caption }}<br /><br />
      {% endfor %}
      
    </div>
  </section>

{% endblock %}