{% extends 'base.html' %}


{% block body %}

  <section class="left-float">
    {% for post in posts %}
    <div class="container post">
      <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> <small class="date-stamp">{{ post.created }}</small></h2>
      {{ post.content|safe|linebreaks|truncatewords:100 }}
    </div>
    {% endfor %}
  </section>

  <section class="right-float">
    <div>
      <h3>Browse by Category</h3>
        <ul id="categories">
        {% for category in categories %}
          <li><a href="{{ category.get_absolute_url }}">{{ category.category }}</a></li>
        {% endfor %}
        </ul>
    </div>

    </div>
    <div id="about">
      <h3>About Me</h3>
      {{ about.content|safe|linebreaks }}
      {% if about.link_set.all %}
      <p>Check out some of my other sites!</p>
      <ul id="contact">
        {% for link in about.link_set.all %}
        <li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </section>

{% endblock %}
