<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I'm living the Snug Life, so come read about it">
    <meta name="author" content="Karli Warren">
    <title>Karli's Blog</title>
    <!-- Core CSS -->
    <link href="/static/css/main.css" rel="stylesheet">
  </head>
  <body>

    {% block body %}
    {% endblock %}

  </body>
</html>